<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeDecor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/home.css">

</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="~/images/logo.png" width="200px">
                </div>
                
                <div class="cart">
                    <i class="fa fa-shopping-cart"></i>
                </div>

            </div>

            <div class="row">
                <div class="col-2">
                    <h1>Design your home <br>as you desire</h1>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br> Animi nostrum labore tenetur odit
                        aliquam <br>illo dicta qui error, accusantium, neque dolore voluptatum. <br>Laudantium nulla
                        perferendis rem soluta distinctio veritatis magni?
                    </p>
                    <a href="" class="btn"> Explore now &#8594;</a>
                </div>
                <div class="col-2">
                    <img src="./images/main4.jpg">
                </div>
            </div>

        </div>
    </div>

    <!-- feature category section -->
    <div class="categories">
        <div class="small-container">
            <h2 class="title">Categories</h2>
            <div class="row">
                <div class="col-3">
                    <img src="images/sofa 1.jpg">
                </div>
                <div class="col-3">
                    <img src="./images/sofa 2.jpg">
                </div>
                <div class="col-3">
                    <img src="./images/sofa 3.jfif">
                </div>
            </div>
        </div>

    </div>

    <!-- FEARURED CONATAINER -->
    <div class="small-container">
        <h2 class="title">Premium Products</h2>
        <div class="row">
            <div class="col-4">
                <img src="/images/dining 5.jfif">
                <h4>Description od the dining table</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>$499.99</p>
            </div>
            <div class="col-4">
                <img src="/images/dining 2.jfif">
                <h4>Description od the dining table</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>$599.99</p>
            </div>
            <div class="col-4">
                <img src="/images/dining 3.jfif">
                <h4>Description od the dining table</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                </div>
                <p>$399.99</p>
            </div>
            <div class="col-4">
                <img src="/images/dining 4.jfif">
                <h4>Description of the dining table</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>

                </div>
                <p>$199.99</p>
            </div>
        </div>
        <h2 class="title">Recent Products</h2>
        <div class="row">
            <div class="col-4">
                <img src="/images/chair 1.jfif">
                <h4>Description od the dining table</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>$499.99</p>
            </div>
            <div class="col-4">
                <img src="/images/chair 2.jfif">
                <h4>Description od the dining table</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>$599.99</p>
            </div>
            <div class="col-4">
                <img src="/images/chair 5.jfif">
                <h4>Description od the dining table</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                </div>
                <p>$399.99</p>
            </div>
            <div class="col-4">
                <img src="/images/chair 4.jfif">
                <h4>Description of the dining table</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>

                </div>
                <p>$199.99</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="/images/wall4.jfif">
                <h4>Description od the dining table</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>$499.99</p>
            </div>
            <div class="col-4">
                <img src="/images/wall.jfif">
                <h4>Description od the dining table</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>$599.99</p>
            </div>
            <div class="col-4">
                <img src="/images/wall2.jfif">
                <h4>Description od the dining table</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                </div>
                <p>$399.99</p>
            </div>
            <div class="col-4">
                <img src="/images/wall3.jfif">
                <h4>Description of the dining table</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>

                </div>
                <p>$199.99</p>
            </div>
        </div>
    </div>
    <!-- Offer -->
    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="./images/wall.jfif" class="offer-img">
                </div>
                <div class="col-2">
                    <p>This is the offer section</p>
                    <h1>Wall decor</h1>
                    <samall>For your personalized setup and one to one guide,  <br> description of the wall design and decoration</samall><br>
                    <br>
                    <a href="" class="btn">Buy Now &#8594;</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Testomonial Section -->
    <div class="testimonial">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit amet ipsam perspiciatis <br> Quasi
                        blanditiis reprehenderit perferendis harum quas et alias facilis culpa, earum dolor illum,<br>
                        corporis exercitationem accusantium cupiditate sapiente?
                    </p>
                    <i class="fa fa-quote-right"></i>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                    </div>
                    <img src="/images/sofa 1.jpg">
                    <h3>Krishna Rijal</h3>
                </div>

                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit amet ipsam perspiciatis <br>
                        Quasi blanditiis reprehenderit perferendis harum quas et alias facilis culpa, earum dolor
                        illum,<br> corporis exercitationem accusantium cupiditate sapiente?
                    </p>
                    <i class="fa fa-quote-right"></i>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                    </div>
                    <img src="/images/sofa 1.jpg">
                    <h3>Krishna Rijal</h3>
                </div>

                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit amet ipsam perspiciatis
                        <br> Quasi blanditiis reprehenderit perferendis harum quas et alias facilis culpa, earum
                        dolor illum,<br> corporis exercitationem accusantium cupiditate sapiente?
                    </p>
                    <i class="fa fa-quote-right"></i>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                    </div>
                    <img src="/images/sofa 1.jpg">
                    <h3>Krishna Rijal</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- Brands -->
    <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img src="./images/logo1.png">
                </div>
                <div class="col-5">
                    <img src="./images/logo2.png">
                </div>
                <div class="col-5">
                    <img src="./images/logo3.png">
                </div>
                <div class="col-5">
                    <img src="./images/logo4.png">
                </div>
                <div class="col-5">
                    <img src="./images/logo5.png">
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download our apps</h3>
                    <p>Download our mobile and desktop app</p>
                </div>
                <div class="footer-col-2">
                    <h3>Download our apps</h3>
                    <p>Download our mobile and desktop app</p>
                </div>
                <div class="footer-col-3">
                    <h3>Download our apps</h3>
                    <p>Download our mobile and desktop app</p>
                </div>
                <div class="footer-col-4">
                    <h3>Download our apps</h3>
                    <p>Download our mobile and desktop app</p>
                </div>
                <div class="footer-col-5">
                    <h3>Download our apps</h3>
                    <p>Download our mobile and desktop app</p>
                </div>
            </div>
        </div>
    </div>


</body>


</html>